<configuration debug="false" scan="true" scanPeriod="30 seconds">

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp />
        <message />
        <loggerName />
        <threadName />
        <logLevel />
        <stackTrace />
        <context />
        <arguments>
          <fieldName>arguments</fieldName>
        </arguments>
      </providers>
    </encoder>
  </appender>

  <logger name="services" level="DEBUG" />
  <logger name="controllers" level="DEBUG" />
  <logger name="models" level="DEBUG" />
  <logger name="movio" level="DEBUG" />
  <logger name="akka" level="INFO" />

  <root level="${LOG_LEVEL:-INFO}">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>
